.home {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  width: 100%;
  font-size: 18px;
  line-height: 1.1;

  &__content {
    display: flex;
    box-sizing: border-box;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &__btn {
    min-width: 320px;
    background-color: #000000;
  }
}
